@import "./settings";

.apex-layout {
    background-color: $background;

    position: relative;
}

.apex-nav {
    width: 100vw;
    height: $navbar-height;
    background-color: $background;
    border-bottom: 1px solid black;

    position: fixed;
    z-index: 1000;

    @media (max-width: 639px) {
        padding: 0 0.25rem;
    }
    @media (min-width: 640px) and (max-width: 1279px) {
        padding: 0 0.5rem;
    }
    @media (min-width: 1280px) {
        padding: 0 1rem;
    }
}

.apex-nav-spacer {
    height: $navbar-height;
}
