@import "./settings";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.apex-home {
    overflow: hidden;
    .body {
        background-color: #ffffee;
        cursor: default;

        .hero {
            height: 95vh;
            background-image: url("../img/hero-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 100%;
            .right {
                height: 100%;
                width: 100%;

                .right-span {
                    color: #ffffee;
                    width: 500px;
                    margin-right: 50px;

                    h1 {
                        font-size: 70px;
                        line-height: 50%;
                        font-family: 'Manrope', sans-serif;
                        font-weight: 800;
                        margin-bottom: 30px;
                    }
                    p {
                        font-size: 17px;
                        font-family: 'Manrope', sans-serif;
                        font-weight: 500;
                        margin-bottom: 40px;
                    }
                    a {
                        width: 200px;
                        height: 50px;
                        background-color: rgb(1, 58, 102);
                        font-family: 'Manrope', sans-serif;
                        font-weight: 800;
                        border-radius: 50px;
                        cursor: pointer;
                    }
                }
            }

            .left {
                height: 100%;
                width: 100%;

                .left-span {
                    background-color: #ffffee;
                    color: rgb(1, 58, 102);
                    height: 400px;
                    width: 600px;
                    border-radius: 15px;
                    font-size: 30px;
                    font-weight: 800;
                    padding: 20px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        .courses {
            height: 30vh;

            .text {
                color: rgb(1, 58, 102);
            }

            .main {

                .part {
                    background-color: #00578c;
                    color: #ffffee;
                    width: 500px;
                    height: 100px;
                    border: 1px solid rgba(104, 104, 104, 0.137);
                    border-radius: 10px;
                    margin: 20px;
                    font-family: 'Manrope', sans-serif;
                    font-weight: 800;
                    font-size: 20px;
                    cursor: default;
                }
            }
        }

        .infograph {
            height: 100vh;
            background: rgb(255,255,238);
            background: linear-gradient(180deg, rgba(255,255,238,1) 0%, rgba(0,87,140,1) 100%);

            .infograph-div {
                background-image: url("../img/background.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 20px;
                padding: 2rem 0;

                .info-text {
                    height: 20%;
                    width: 1000px;

                    .text-span {
                        color: #ffffee;
                        width: 70%;
                        text-align: center;

                        h1 {
                            font-size: 50px;
                            font-weight: 800;
                            margin-top: 100px;
                            text-shadow: 0 5px 3px rgba(86, 86, 86, 0.334);
                        }
                        p {
                            font-size: 17px;
                            font-family: 'Manrope', sans-serif;
                            font-weight: 500;
                        }
                    }
                }
                .info-img {
                    height: 80%;

                    img {
                        margin-top: 100px;
                        height: 70%;
                        background-color: white;
                        border-radius: 10px;
                    }
                }
            }
        }
        .done {
            height: 10vh;
            background-color: #00578c;
        }
    }
}

.apex-class {

    .top {
        margin: 3rem 0 2rem 0;
        padding: 4rem 2rem;
        background-color: $blue;
        color: white;
    }

    .category {
        padding: 0 1rem;
    }
}

.apex-apcard {
    margin: 1rem;
    width: 32rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
    border-top-width: 0.5rem;
    border-top-style: solid;

    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    .title {
        padding: 1rem;
        position: absolute;
        top: 0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);

        pointer-events: none;
    }

    .desc {
        padding: 1rem;
        position: absolute;
        bottom: 0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);

        pointer-events: none;
    }

    .main-selector {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 2rem;
        width: 4rem;
        text-align: center;
        text-shadow: 0 0 0.5rem black;
    }

    img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
}

.apex-quiz {
    overflow-y: scroll;
    .body {
        flex-grow: 1;
        border-left: 1px solid black;
        border-right: 1px solid black;
        background: $background;
    }
}

.quiz-progress {
    border-radius: 0.5rem;
    height: 1rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;

    position: relative;
    overflow: hidden;
    .bar {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        background-color: $blue;
    }
}

.quiz-question {
    .prompt {

        position: relative;
        user-select: none;

        img {
            border: 1px solid black;
            background-color: white;
            padding: 1rem;
            height: auto;
            width: auto;
            object-fit: contain;
            margin-bottom: 0.5rem;
            filter: blur(0.25rem);
        }

        .text {
            position: absolute;
            color: white;
            background-color: $blue;
            padding: 1rem 10%;
            text-align: center;
        }
    }
}

.quiz-choice {
    overflow: hidden;
    cursor: pointer;
    padding: 0.5rem 5%;
    margin-top: 1rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 0 0.25rem black;
    font-weight: bold;
    position: relative;

    .eliminate {
        position: relative;
        height: 2rem;
        width: auto;
        z-index: 50;
        user-select: none;
    }
}

.quiz-answer {
    .heading {
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 2rem 2rem;
        color: white;
        text-shadow: 0 0 0.125rem black;

        cursor: pointer;
    }
}

.quiz-feedback {
    overflow: hidden;
    padding: 1.25rem 5%;
    margin-top: 1rem;
    min-height: 4rem;
    color: black;
    background: rgba(0, 0, 0, 0.04);
    position: relative;
    border-top: 4px solid black;
}

.quiz-init {

    > * {
        margin-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    > *:last-child {
        margin-bottom: 4rem;
    }

    .header {
        text-align: center;
        @media (max-width: 639px) {
            line-height: 2.5rem;
        }
        @media (min-width: 640px) and (max-width: 1279px) {
            line-height: 3rem;
            word-spacing: 1px;
        }
        @media (min-width: 1280px) {
            line-height: 3.5rem;
            word-spacing: 1px;
        }
    }

    .directions {
        @media (max-width: 639px) {

        }
        @media (min-width: 640px) and (max-width: 1279px) {
            line-height: 1.5rem;
            word-spacing: 1px;
        }
        @media (min-width: 1280px) {
            line-height: 2rem;
            word-spacing: 1px;
        }
    }

    .settings {

        border-top: 1px solid black;

        padding-top: 3rem;

        > .columnar > *:not(:first-child) {
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
    }

    .confirm {
        cursor: pointer;
    }
}

.quiz-results {
    > * {
        margin-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    > *:last-child {
        margin-bottom: 4rem;
    }

    .banner {
        color: white;
        text-shadow: 0 0 0.25rem black;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .stat-bars {

        padding: 0 10%;

        > *:first-child {
            margin-bottom: 1rem;
        }

        .stat-bar {
            padding: 0 0.5rem;
            margin-top: 1rem;

            > *:first-child {
                margin-bottom: 0.5rem;
            }
        }
    }

    .go-begin {
        border-top: 1px solid black;
        padding-top: 4rem;
        cursor: pointer;
        user-select: none;
    }
}

#bg-container {
    position: relative;
    min-height: calc(100vh - 4rem);
    #bg-canvas {
        position: absolute;
        width: 100vw;
        height: 100%;
        opacity: 0.5;
    }
    .apex-quiz {
        position: absolute;
    }
}
